---
import ProductCard from "../ui/ProductCard.astro"; //Este es el molde
import { featuredProducts } from "../data/products"; //Esta son los datos
---

<section class="catalogo" id="tienda" aria-labelledby="catalogo-title">
  <div class="catalogo__grid">
    {
      //usa las props del componente ProductCard
      featuredProducts.map(
        (
          product, //el map recorre mi lista de productos le pasa los datos al componente ProductCard//
        ) => (
          <ProductCard
            name={product.name}
            image={product.image}
            price={product.price}
            oldPrice={product.oldPrice}
            badge={product.badge}
            featured={product.featured}
          />
        ),
      )
    }
  </div>

  <style>
    .catalogo {
      background-color: var(--bg-surface);
      padding: 2em;
      height: 100%;
    }

    .catalogo__grid {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
    }

    @media (max-width: 900px) {
      .catalogo__grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 560px) {
      .catalogo__grid {
        grid-template-columns: 1fr;
      }
    }
  </style>
</section>
